Repository tommydino93/openneuro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: setup_nodejs, setup_python

Path conditions:
  setup_nodejs: any of: yarn.lock
  setup_python: any of: services/datalad/Pipfile.lock

Implement core git endpoints and authentication.
  nginx/nginx.dev.conf
  packages/openneuro-server/src/graphql/resolvers/git.ts
  packages/openneuro-server/src/graphql/resolvers/mutation.js
  packages/openneuro-server/src/graphql/schema.js
  packages/openneuro-server/src/libs/authentication/jwt.js
  services/datalad/Dockerfile
  services/datalad/datalad_service/app.py
  services/datalad/datalad_service/common/stream.py
  services/datalad/datalad_service/handlers/files.py
  services/datalad/datalad_service/handlers/git.py
  services/datalad/datalad_service/handlers/upload_file.py
  services/datalad/datalad_service/middleware/auth.py
  services/datalad/tests/test_auth.py
Due: none

Add script to mark prefix private on S3.
  scripts/s3-acl-unpublish.py
Due: none

Switch esbuild -> snowpack + esbuild
  package.json
  packages/openneuro-app/esbuild.plugin-fix-react-virtualized.js
  packages/openneuro-app/esbuild.plugin-webworker.js
  packages/openneuro-app/esbuild.ts
  packages/openneuro-app/package.json
  packages/openneuro-app/snowpack.config.js
  packages/openneuro-app/src/index.html
  packages/openneuro-app/src/lerna.json
  packages/openneuro-app/src/scripts/app.tsx
  packages/openneuro-app/src/scripts/client.jsx
  packages/openneuro-app/src/scripts/common/partials/footer.jsx
  packages/openneuro-app/src/scripts/utils/datalad.js
  packages/openneuro-app/src/scripts/utils/graphql.js
  packages/openneuro-app/src/version.ts
  packages/openneuro-app/tsconfig.json
  packages/openneuro-app/webpack.common.js
  packages/openneuro-app/webpack.dev.js
  packages/openneuro-app/webpack.prod.js
  packages/openneuro-client/package.json
  packages/openneuro-client/src/__mocks__/client.js
  packages/openneuro-client/src/client.js
  packages/openneuro-indexer/package.json
  packages/openneuro-indexer/src/index.ts
  packages/openneuro-server/package.json
  packages/openneuro-server/src/handlers/ssr.js
  packages/openneuro-server/src/server.js
  yarn.lock
Due: setup_nodejs

Switch to snowpack + yarn v2
  .gitignore
  .husky/.gitignore
  .husky/pre-commit
  .pnp.cjs
  .vscode/extensions.json
  .vscode/settings.json
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/releases/yarn-sources.cjs
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  Dockerfile
  docker-compose.yml
  package.json
  packages/openneuro-app/package.json
  packages/openneuro-app/snowpack.config.js
  packages/openneuro-app/src/scripts/utils/modal.jsx
  packages/openneuro-cli/package.json
  packages/openneuro-client/package.json
  packages/openneuro-indexer/package.json
  packages/openneuro-server/package.json
  packages/openneuro-server/src/libs/subscription-server.js
  packages/openneuro-server/src/server.js
  tsconfig.json
  yarn.lock
Due: setup_nodejs

Additional fixes and workarounds for snowpack.
  .pnp.cjs
  .yarnrc.yml
  package.json
  packages/openneuro-app/package.json
  packages/openneuro-app/snowpack.config.js
  packages/openneuro-app/src/scripts/app.tsx
  packages/openneuro-app/src/scripts/common/partials/login.jsx
  packages/openneuro-app/src/scripts/common/partials/tooltip.jsx
  packages/openneuro-app/src/scripts/datalad/download/download-dataset.jsx
  packages/openneuro-app/src/scripts/datalad/fragments/incomplete-dataset.jsx
  packages/openneuro-app/src/scripts/datalad/validation/validation-panel.jsx
  packages/openneuro-app/src/scripts/nav/navbar.jsx
  packages/openneuro-app/src/scripts/nav/navbar.navmenu.jsx
  packages/openneuro-app/src/scripts/uploader/upload-progress.jsx
  packages/openneuro-app/src/scripts/uploader/upload-step.jsx
  packages/openneuro-app/src/scripts/validation/validation-results.issues.jsx
  packages/openneuro-app/src/scripts/validation/validation-results.jsx
  packages/openneuro-cli/package.json
  packages/openneuro-docs/README.md
  packages/openneuro-docs/doczrc.js
  packages/openneuro-docs/package.json
  packages/openneuro-docs/src/index.ts
  yarn.lock
Due: setup_nodejs

Revert "Two handle range"
  .pnp.js
  packages/openneuro-components/package.json
  packages/openneuro-components/src/aggregate-count/AggregateCount.stories.tsx
  packages/openneuro-components/src/input/input.scss
  packages/openneuro-components/src/range/TwoHandleRange.stories.tsx
  packages/openneuro-components/src/range/TwoHandleRange.tsx
  packages/openneuro-components/src/range/range.scss
  yarn.lock
Due: setup_nodejs

Importing older components to new routes (BUG: reset)
  .pnp.js
  packages/openneuro-app/package.json
  packages/openneuro-app/src/scripts/refactor_2021/dataset/dataset-page-container.jsx
  packages/openneuro-app/src/scripts/refactor_2021/dataset/dataset-query.jsx
  packages/openneuro-app/src/scripts/refactor_2021/dataset/draft-snapshot-routes.jsx
  packages/openneuro-app/src/scripts/refactor_2021/routes.tsx
  packages/openneuro-components/package.json
  yarn.lock
Due: setup_nodejs

changing OR to pipe
  packages/openneuro-app/src/scripts/refactor_2021/search/es-query-builders.ts
Due: none

fix: Fix missing files on git_commit
  services/datalad/datalad_service/common/git.py
Due: none

fix: Ensure hexsha value is always serializable
  services/datalad/datalad_service/handlers/upload.py
  services/datalad/datalad_service/tasks/files.py
Due: none

refactor: Make draft files cache immutable
  packages/openneuro-server/src/datalad/draft.js
  packages/openneuro-server/src/datalad/files.js
  packages/openneuro-server/src/graphql/resolvers/draft.js
  packages/openneuro-server/src/graphql/schema.js
Due: none

refactor: Update to Falcon 3.0.1 and asgi interface
  services/datalad/Dockerfile
  services/datalad/Pipfile
  services/datalad/Pipfile.lock
  services/datalad/datalad_service/app.py
  services/datalad/datalad_service/common/annex.py
  services/datalad/datalad_service/common/redis.py
  services/datalad/datalad_service/config.py
  services/datalad/datalad_service/handlers/annex.py
  services/datalad/datalad_service/handlers/annex_objects.py
  services/datalad/datalad_service/handlers/dataset.py
  services/datalad/datalad_service/handlers/description.py
  services/datalad/datalad_service/handlers/draft.py
  services/datalad/datalad_service/handlers/files.py
  services/datalad/datalad_service/handlers/git.py
  services/datalad/datalad_service/handlers/heartbeat.py
  services/datalad/datalad_service/handlers/history.py
  services/datalad/datalad_service/handlers/publish.py
  services/datalad/datalad_service/handlers/reexporter.py
  services/datalad/datalad_service/handlers/reset.py
  services/datalad/datalad_service/handlers/snapshots.py
  services/datalad/datalad_service/handlers/upload.py
  services/datalad/datalad_service/handlers/upload_file.py
  services/datalad/datalad_service/handlers/validation.py
  services/datalad/datalad_service/middleware/auth.py
  services/datalad/datalad_service/tasks/audit.py
  services/datalad/datalad_service/tasks/publish.py
  services/datalad/datalad_service/tasks/validator.py
  services/datalad/tests/dataset_fixtures.py
  services/datalad/tests/test_annex_handler.py
  services/datalad/tests/test_auth.py
  services/datalad/tests/test_heartbeat.py
  services/datalad/tests/test_validator.py
Due: setup_python

fix: Use more widely supported github remote URL
  services/datalad/datalad_service/common/github.py
Due: none
